<div class="container w-50 mt-5 text-center">
  <div class="text-center display-3 m-3 text-white">Word limit : {{limit}}</div>


  <input type="range" min="1" max="50" value="{{ limit }}" class="slider form-control-range"
    (change)="handleSlideChange($event)" />
  <div>
  <button class="btn btn-info" (click)="generate()">Generate Words</button>
  </div>
  <div>
  <button class="btn btn-info" (click)="generateRandom()">Generate Random Countries</button>
  </div>
  <div class="row">
  <div *ngIf="words" class="card col-md-6 card-body">
    <p class="display-4">
      {{ words }}
    </p>
  </div>
  
  <div *ngIf="country" class="card col-md-6 card-body">
    <p class="display-4">
      {{ country }}
    </p>
  </div>
</div>
</div>